<li class="nav-header">INSTITUTES</li>

<li class="nav-item">
    <a asp-controller="Institute"
       asp-action="Index"
       class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Institute" ? "active" : "")">
        <i class="fas fa-hospital nav-icon"></i>
        <p>Institutes</p>
    </a>
</li>

<li class="nav-item">
    <a asp-controller="ProactMobileSettings"
       asp-action="Update"
       class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Institute" ? "active" : "")">
        <i class="fas fa-mobile-alt nav-icon"></i>
        <p>App settings</p>
    </a>
</li>
