<div class="shadow-none p-3 mb-5 bg-light rounded">
    <span class="m-10"><i class="fas fa-frown-open fa-2x" style="color: #D1898F"></i></span>
    <span class="m-10"><i class="fas fa-frown fa-2x" style="color: #EFE786"></i></span>
    <span class="m-10"><i class="fas fa-smile fa-2x" style="color: #95C5DF"></i></span>
    <span class="m-10"><i class="fas fa-grin fa-2x" style="color: #A5E08D"></i></span>
</div>