<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/06fba34d-a33a-4dc7-b15d-7aff59347dc1/resourceGroups/DEV_proact2/providers/Microsoft.Web/sites/DevProactCpanel</ResourceId>
    <ResourceGroup>DEV_proact2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://devproactcpanel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>devproactcpanel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DevProactCpanel</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DevProactCpanel</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>