<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e2f31e6a-e0f0-46e3-9b2f-56917e47abbc/resourceGroups/PROD_proact2/providers/Microsoft.Web/sites/ProdProactCpanel</ResourceId>
    <ResourceGroup>PROD_proact2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://prodproactcpanel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>prodproactcpanel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProdProactCpanel</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProdProactCpanel</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>