@model Proact_WebApp.Models.UserCreateRequest
@{
    ViewData["Title"] = "Create new Nurse";
}

<div class="row">
    <div class="col-md-8">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Nurse Data</h3>
            </div>

            <form asp-action="Create" id="UserCreateForm" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="FirstName" class="form-control">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="LastName" class="form-control">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="RedirectToAssociationAction" />
                <input type="hidden" asp-for="MedicalTeamIdToAssociate" />

                <div class="card-footer">
                    <button type="submit" class="btn btn-success float-right">Create</button>
                    <a asp-action="Index" class="btn btn-default float-left">Back</a>
                </div>

            </form>

        </div>
    </div>


</div>


@section Scripts {

    <!-- jquery-validation -->
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/additional-methods.min.js"></script>

    <script>$(function () {


            $('#UserCreateForm').validate({
                rules: {
                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    }

                },
                messages: {
                    FirstName: {
                        required: "Required field"
                    },
                    LastName: {
                        required: "Required field"
                    },
                    Email: {
                        required: "Required field",
                        email : "Invalid email address"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });



        });</script>
}